
.image-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 1);
    -fx-border-color: transparent;
    -fx-padding: 6px 12px;
}

.image-button:selected{
    -fx-border-color: #2e73b8;
    -fx-border-width: 4px;
}